body {
  /* background: #C9E230; */
  /* height: 100vh; */
  /* overflow-y: hidden; */
  /* overflow-x: "hidden"; */
  letter-spacing: 0.02em;
}

a {
  text-decoration: underline;
  color: #000;
}
a:hover {
  color:#F3F ;
}

.fontPara{
  color:#000;
  font-size: 15px;
  line-height: 1.1;
}

.pb15 {
  padding-bottom: 15px;
}

.pt80 {
  padding-top: 80px;
}

.pl90 {
  padding-left: 90px;
}

.pr90 {
  padding-right: 90px;
}

.p {
  padding: 80px 100px 80px 90px;
}

.w1-3 {
  width: 33.5%;
  /* height: calc(100% - 160px); */
  position: relative;
  height: 100%;
}

.w2-3 {
  width: 66.5%;
  height: auto;
  position: relative;
}

.container {
  display: flex;
  max-width: 100vw;
}

.floatR {
  float:right;
}

.h100 {
  height: calc(100vh - 180px);
  /* height: 100vh; */
}

.bottom {
  position: absolute;
  bottom: 0;
}

.mobile{
  display: none;
}

.yarl__toolbar .yarl__button{
  color:#00ff00 !important;
  filter:none !important;
}

.yarl__navigation_next, .yarl__navigation_prev {
  color:#00ff00 !important;
  filter:none !important;
}

@media only screen and (max-width: 600px) {
  body {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    margin: 0;
  }
  .fontPara{
    font-size: 12px;
    line-height: 1.1;
  }
  .container {
    display: block;
    height: calc(100vh - 75px);
    overflow-y: hidden;
  }
  .p {
    padding: 30px;
  }
  .w1-3 {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
  }
  .w2-3 {
    display: none;
  }
  .mobile{
    display: block;
    position: absolute;
    width: calc(100% - 75px);
    height: 200px;
    top:calc(50vh - 110px);
    /* padding-right: 60px; */
    /* width: unset; */
  }
  .bottom {
    width: calc(100% - 0px);
  }
  .w50 {
    width: calc(50% - 60px);
    height: 100%;
  }
  .responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}