.active {
    color:#0000ff;
}
.active:hover {
    color:#0000ff;
}
a {
    text-decoration: none;
    color:#666;
}
.notActive:hover{
    color:#F3F;
}


.myScroll {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

.myScroll::-webkit-scrollbar {
    display: none; /* for Chrome, Safari and Opera */
}

.myLink a {
    color:#099;
}

.myLink a:hover {
    color:#F3F;
}